* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2c3e50; /* Dark and elegant background color */
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #ecf0f1; /* Light color for text */
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    background-color: #34495e; /* Slightly darker than body background for contrast */
    border-radius: 1rem;
    padding: 1vmin;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #ecf0f1; /* Light color for text */
    background-color: #1abc9c; /* Vibrant background color for boxes */
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.box:hover {
    transform: scale(1.05);
    background-color: #16a085; /* Slightly darker shade for hover effect */
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}

#reset-btn, #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #e74c3c; /* Button color */
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin: 1rem;
    transition: background-color 0.3s ease;
}

#reset-btn:hover, #new-btn:hover {
    background-color: #c0392b; /* Darker shade for button hover */
}

#msg {
    color: #ecf0f1; /* Light color for message text */
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}
